<div class="container">

<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon style="color: white;">menu</mat-icon>
  </button>
  <span  class="toolbar-title">部落格系統</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary" routerLink="/create-post">新增貼文</button>
  <button mat-raised-button color="primary" routerLink="/view-all">查看所有貼文</button>
  <button routerLink="/search-by-name">
    <mat-icon>search</mat-icon>
  </button>

</mat-toolbar>
<router-outlet></router-outlet>
</div>
